/* ===================================================================
 *  Main Stylesheet 21-08-2017
 *  00. reset
 *  01. webfonts and iconfonts
 *  02. typography / base style overrides
 *  03. grid
 *  04. preloader
 *  05. header & Nav
 *  06. general theme styles & components
 *  07. forms and buttons
 *  08. common and reusable styles
 *  09. home
 *  10. about
 *  11. services
 *  12. portfolio
 *  13. article
 *  14. work
 *  15. contact
 *  16. footer
 *  17. Media Queries
 *  color: #1532b1, #CE0909, #212121, #000
=================================================================== */

@import "reset.scss";

/* ===================================================================
 *  01. webfonts and iconfonts
 font-family: 'Quattrocento', serif;
 font-family: 'Spectral', serif;
 font-family: 'Lateef', cursive;
 font-family: 'Abhaya Libre', serif;
=================================================================== */
body, button, input, select, textarea, .intro small {
    font-family: 'Spectral', Helvetica, Arial, Microsoft JhengHei, "微軟正黑體", LiHei, "黑體", PMingLiu,"新細明體", sans-serif;
}
.intro h1, .story h2, .wrok-info h2, .tilter {
    font-family: Noto Serif,PT Serif,"source-han-serif-tc",Songti TC,serif;
	font-family: Noto Serif,PT Serif,"source-han-serif-tc",Songti TC,serif;
    font-weight: 700;
    font-family: source-han-serif-tc;
}

html {
  font-size: 15px;
}

/* ===================================================================
 *  02. base style overrides
=================================================================== */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-weight: 400}
h1, .h1 {font-size: 2.4em;}
h2, .h2 {font-size: 2em;}
h3, .h3 {font-size: 1.3em;}
h4, .h4 {font-size: 1em;}
h5 {font-size: 1em;}

html {
  overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    background-color: rgba(0, 0, 0, .1);
    color: #212121;
    position: relative;
    width: 100%;
}
a, a:visited {
	transition: all 0.3s ease-in-out;
	transition-property: background, border-radius;
	transition-duration: .2s, 1s;
	transition-timing-function: linear, ease-in;
	transition-delay: 0s, 1s;
	/* text-decoration: underline */
}
a:link, a:visited {
	color: #000000;
}
a:hover, a:focus {
  color: #CE0909;
}
a.line {
	text-decoration: underline
}

html, body, .outwrapper {height: 100%;}

@import "grid.scss";

/* ===================================================================
 *  04. Preloader
 * ------------------------------------------------------------------- */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0F1215;
	z-index: 800;
	height: 100%;
	width: 100%;
}

.no-js #preloader, .oldie #preloader {
	display: none;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
	padding: 0;
	background-color: #f9a828;
	border-radius: 100%;
	-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* ===================================================================
 *  05. header & Nav
 * ------------------------------------------------------------------- */
 #header {
     position: fixed;
     left: 32px;
     bottom: 15%;
     width: 48px;
     height: 48px;
     z-index: 99
 }

.menu-item, .menu-open-button {
   background: #1532b1;
   border-radius: 48px;
   width: 48px;
   height: 48px;
   margin-left: -40px;
   position: absolute;
   color: #FFFFFF;
   text-align: center;
   line-height: 48px;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
   overflow: hidden;
}

.menu-open {
   display: none;
}

.lines {
   width: 25px;
   height: 3px;
   background: #FFF;
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -12.5px;
   margin-top: -1.5px;
   -webkit-transition: -webkit-transform 200ms;
   transition: -webkit-transform 200ms;
   transition: transform 200ms;
   transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
   -webkit-transform: translate3d(0, -8px, 0);
   transform: translate3d(0, -8px, 0);
}

.line-2 {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

.line-3 {
   -webkit-transform: translate3d(0, 8px, 0);
   transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .line-1 {
   -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
   transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
   -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
   transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
   -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
   transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    font-size: .875em;
   margin: auto;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 48px;
   height: 48px;
   text-align: center;
   box-sizing: border-box;
   a {
     color: #FFF;
     line-height: 48px;
     position: relative;
   }
}

.menu-item {
  margin-left: -16px;
  ul {
    margin-left: 1.5em;
    display: inline-block;;
  }
  li {
    display: inline-block;
    position: relative;
    padding-right: 1.25em;
    margin-right: .75em;
      &:last-child {
        padding: 0;
        margin: 0;
      }
      &::after {
        content: "/";
        position: absolute;
        right: 0;
        top: -2px;
        color: #FFF;
        font-size: .875em;
      }
    }
}
.menu-item ul li:last-child:after {
  display: none;
}

.menu-item:hover {
   background: #212121;
   color: #FFF;
   transition: all 0.3s ease-in-out;
}

.menu-open-button {
   z-index: 2;
   -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -webkit-transition-duration: 400ms;
   transition-duration: 400ms;
   -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   cursor: pointer;
}

.menu-open-button:hover {
   // -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
   // transform: scale(1.2, 1.2) translate3d(0, 0, 0);
   background: #212121;
   transition: all 0.3s ease-in-out;
}

.menu-open:checked + .menu-open-button {
   -webkit-transition-timing-function: linear;
   transition-timing-function: linear;
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
   -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
   transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
   -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
   transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
   width: auto;
   white-space: nowrap;
   padding: 0 24px;
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-open:checked ~ .menu-item:nth-child(3) {
   transition-duration: 680ms;
   transform: translate3d(0px, -360px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
   transition-duration: 580ms;
   transform: translate3d(0px, -308px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
   transition-duration: 480ms;
   transform: translate3d(0px, -256px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
   transition-duration: 380ms;
   transform: translate3d(0px, -204px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7), .menu-open:checked ~ .menu-item:nth-child(8), .menu-open:checked ~ .menu-item:nth-child(9) {
   transition-duration: 280ms;
    display: none
}

.menu-open:checked ~ .menu-item:nth-child(10) {
   transition-duration: 180ms;
   transform: translate3d(0px, -150px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(11) {
   transition-duration: 80ms;
   transform: translate3d(0px, -100px, 0);
   padding: 0;
   width: 48px;
    line-height: 54px;
   font-size: 2em;
}

.menu-open:checked ~ .menu-item:nth-child(12) {
   transition-duration: 180ms;
   transform: translate3d(0px, -48px, 0);
   padding: 0;
   width: 48px;
    line-height: 54px;
   font-size: 2em;
}
.mainmenu a::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	left: 0;
	width: 100%;
	height: 2px;
	pointer-events: none;
	background: currentColor;
	transform: scale3d(0,1,1);
	transform-origin: 100% 50%;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.8,0,0.2,1);
}

.mainmenu a:hover::before,
.mainmenu .menu-item:focus a:hover::before {
	transform: scale3d(1,1,1);
	transform-origin: 0% 50%;
}

/* sidemenu */
.workMenu {
    font-weight: 900;
    line-height: 1.15em;
    position: absolute;
    left: 0;
    top: 0;
    color: #000;
    height: 100vh;
    width: 100%;
//    width: 16.6666667%;
    z-index: 1;
    background: #FFF;
    li {
        margin: 1.4em auto 1.35em 24px;
        &.profile {
            margin: -1.25em auto 1.25em 24px;
        }
        &.active a {
            color: #212121;
        }
    }
    a {
        color: #757575;
        :hover, :focus {
            color: #212121
        }
        small {
            font-size: .8em;
        }
    }
}
.sidemenuMenu {
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    background: #FFF;
}

/* ===================================================================
 *  06. general theme styles & components
=================================================================== */
.mobile {display: none;}
#fullpage > .section {
    overflow: hidden;
    height: 100vh;
}
#fullpage > .work {
    position: relative;
    z-index: 10;
    width: 100%
}
.fp-bg {
	transform: translate3d(0,0,0);
    transition: all 1000ms ease;
	backface-visibility: hidden;
    width: 100%;
    &:before {
		content: '';
		position: absolute;
		display: block;
		background: rgba(0, 0, 0, .65);
		top: 0;
		bottom: 0;
		height: 100vh;
		width: 100vw;
    }
    img {
        max-width: inherit;
        min-width: inherit;
        width: 100%;
    }
    .intro {
        position: absolute;
        left: 36px;
        top: 5%;
        color: #FFF;
        z-index: 9;
        h1 {
            font-size: 3em;
            letter-spacing: 5px;
        }
        h1 a {
            color: #FFF;
            position: relative;
            display: block;
            &:hover {color: #1532b1}
        }
        h1 strong {
            display: block;
            margin-bottom: -.5em;
        }
        h1 small {
            display: inline-block;
            position: relative;
            font-size: .5em;
            letter-spacing: 1px;
            &:before {
                content: "\f178";
                font-family: FontAwesome;
                display: block;
                position: absolute;
                left: 150%;
                top: -.2em;
                font-size: 2em;
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 2vw;
                height: 3px;
                background: #FFF;
                left: 105%;
                top: .8em;
            }
        }
        .work-description {
            font-size: .75em;
            white-space: nowrap;
            margin-top: 2em;
            li {
                margin: .25em auto;
            }
        }
    }
}

.work-name:hover h1 small:after {
    background: #1532b1
}
img.lazy {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
// .work-LI {
//     background-image: url('../photo/artists_1/cover.jpg');
//     background-size: cover;
//     background-position: center center;
// }

#index .section {
    .side-content, .main-content {
        height: 100vh;
    }
    .mainTitle {
        position: relative;
        height: 100vh;
        img {
            position: absolute;
            width: 50%;
            bottom: 8%;
            right: 8%;
            max-width: inherit;
            min-width: inherit;
        }
    }
    .topTitle {
        position: absolute;
        width: 300px;
        top: 4%;
        left: 24px
    }
}

#info {
    position: relative;
    width: 100%;
    .main-content {
        margin-left: 10%;
    }
    .mainTitle {
        position: fixed;
        width: 33.33333%;
        height: 100vh;
        img {
            position: absolute;
            width: 70%;
            bottom: 16%;
            left: 44px;
            max-width: inherit;
            min-width: inherit;
        }
    }
}

.KeyVision {
    position: fixed;
    height: 100vh;
    left: 32.5%;
    z-index: 0;
    img {
        height: 100%;
        max-width: inherit;
        min-width: inherit;
    }
}
#artists .KeyVision {
    left: inherit;
    right: 20%;
}

.artist-info {
    background: rgba(0, 0, 0, .15);
    height: 100vh;
    .article {
        margin: 10.5% 10% 0 0;
    }
}

.blueline .article {
    clear: both;
    position: relative;
    z-index: 1;
    &:after {
        content: "";
        display: block;
        background: #1532b1;
        width: 105%;
        height: 100%;
        position: absolute;
        left: -22%;
        bottom: -8px;
        z-index: -10;
    }
    .bluebg {
        background: #FFF;
        padding: 0 15px 20px 0;
        border: #212121 5px solid;
        margin: 0 5% 0 -20%;
        width: 100%;
        box-sizing: content-box;
    }
    p, ul, ol {
        font-size: .9em;
        line-height: 1.5em
    }
}

.work-list {
    background: #212121;
    .img-item {
        height: 100vh;
        padding: 13.5vh 5.5vw 0;
        text-align: center;
    }
    img {
        text-align: center;
        margin: 0 auto;
        width: auto!important;
        height: 70vh;
        max-width: inherit;
        min-width: inherit
    }
}
#WU .work-list img {
    height: auto;
    width: 80%!important;
    max-width: 100%;
    min-width: 100%;
}

.wrok-info {
    background: #FFF;
    position: fixed;
    height: 100vh;
    z-index: 10;
    .article {
        padding-top: 2.5em;
        font-size: .875em;
        h2 {
            font-size: 1.3em;
            letter-spacing: 1px;
        }
        h4 {
            line-height: 1.75em;
            margin: 1.5em auto 0;
        }
    }
    .work-description {
        padding: 1em 30px 1em;
        color: #757575
    }
    .scrollbar-inner {
		max-height: 72vh;
		.scroll-element.scroll-y {
			top: 0;
            right: 10px;
		}
	}
}

/* ===================================================================
 *  08. common and reusable styles
 * ------------------------------------------------------------------- */

.margin-top-24 {
    margin-top: 4em;
}

.scroolto {
    font-size: 10px;
    margin: 0 auto;
    position: absolute;
    bottom: 8%;
    width: 100%;
}
.scroolto a {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 999;
    font-size: 2.4em;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    line-height: 48px;
    color: #1532b1

}
.scroolto a span {
    background: url("../images/arrow_44.gif") 5px -44px no-repeat;
    display: block;
    font-size: 1.8em;
    margin: 0 auto 10px;
    width: 48px;
    height: 48px;
    text-indent: -9999em;
}

/* ===================================================================
 *  09. home
 * ------------------------------------------------------------------- */

.tilter {
	position: relative;
	display: block;
	width: 50%;
	margin: 8em auto;
	color: #000;
	perspective: 1000px;
}

.tilter * {
	pointer-events: none;
}

.tilter:hover,
.tilter:focus {
	color: #1532b1;
	outline: none;
}

.tilter__figure,
.tilter__image {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
}

.tilter__figure > * {
	transform: translateZ(0px); /* Force correct stacking order */
}

.tilter__figure {
	position: relative;
}

.tilter__figure::before {
	content: '';
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	box-shadow: 0 30px 20px rgba(35,32,39,0.5);
}

.tilter__deco {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.tilter__deco--overlay {
	background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4));
}

// .tilter__deco--shine div {
// 	position: absolute;
// 	top: -50%;
// 	left: -50%;
// 	width: 200%;
// 	height: 200%;
// 	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
// }

.tilter__deco--lines {
	fill: none;
	stroke: #fff;
	stroke-width: 1.5px;
}

.tilter__caption {
	position: absolute;
	top: -25%;
    left: -20%;
	width: 100%;
	padding: 4em;
}

.tilter__title {
	font-size: 2.1em;
	line-height: 1;
	margin: 0;
    small {
        display: block;
        margin-top: .25em
    }
}

.tilter__description {
	font-size: 1.65em;
	margin: 0 0 1em;
}

.artists_1 {
    padding: 0 0 0 20em;
    .tilter__caption {
        text-align: right;
    	top: 40%;
        left: -110%;
    }
}
.tilter.artists_2 {
    width: 60%;
    padding: 10em 0;
}
.artists_3 {
    padding: 0 20em 0 0;
    .tilter__caption {
    	top: 35%;
        left: 100%;
    }
}

#index .content {
    overflow: hidden;
}

/* ===================================================================
 *  16. footer
 * ------------------------------------------------------------------- */
 #footer {
     position: fixed;
     bottom: 2em;
     z-index: 99;
 }
.footer-nav {
    position: relative;
    a {
        font-size: .875em;
        position: relative;
        display: inline-block;
        line-height: 15px;
        &:after {
            content: "/";
            position: absolute;
            right: 0;
            top: 0px;
            color: #212121;
            font-size: .875em;
        }
        &:last-child:after {
            content: "";
        }
    }

}
.footer-nav::before {
    content: "";
    width: 32px;
    height: 32px;
    background: #212121;
    display: inline-block;
    position: relative;
    top: 2px;
}

.menu__item-name, .menu__item-label {
	position: relative;
	display: inline-block;
}

@import "vender/style-inola.scss";

@import "article.scss";

@import "responsive.scss";
