.menu--inola {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.menu--inola .menu__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1.25em 0;
  text-align: center; }

.menu--inola .menu__item:last-child {
  margin-bottom: 0; }

.menu--inola .menu__item-name {
  padding: 0 0.25em; }

.menu--inola .menu__item-name::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: 100%;
  height: 4px;
  pointer-events: none;
  background: currentColor;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1); }

.menu--inola .menu__item:hover .menu__item-name::before,
.menu--inola .menu__item:focus .menu__item-name::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%; }

.menu--inola .menu__item-label {
  font-size: 0.85em;
  margin-top: 0.5em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-link); }

.menu--inola .menu__item-label::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-background);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1); }

.menu--inola .menu__item:hover .menu__item-label::after,
.menu--inola .menu__item:focus .menu__item-label::after {
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%; }
